<app-nav-clerk></app-nav-clerk>
<div class="container signin">
  <main class="card shadow-lg form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal text-center ">Stock Posting</h1>
      <div class="form-floating ">
        <input formControlName="username " class="form-control mb-2 " placeholder="Name ">
        <label for="floatingInput ">Product</label>
      </div>

      <div class="form-floating ">
        <input formControlName="email " class="form-control mb-2 " placeholder="email ">
        <label for="floatingInput ">Store</label>
      </div>
      <div class="form-floating ">
        <input formControlName="password " class="form-control mb-2 " placeholder="Password ">
        <label for="floatingPassword ">Quantity Received</label>
      </div>
      <div class="form-floating ">
        <input formControlName="password2 " class="form-control mb-2 " placeholder="Password ">
        <label for="floatingPassword ">Spoilt</label>
      </div>
      <div class="form-floating ">
        <input formControlName="password2 " class="form-control mb-2 " placeholder="Password ">
        <label for="floatingPassword ">Payment Status</label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-success " type="submit ">Post for Approval</button>

    </form>
  </main>
</div>