<div class="card-body container">
  <!-- table 1 -->

  <div class="table-responsive">
    <h1 class=" text-center">Clerk List</h1>
    <table class="table table-bordered shadow-lg" id="datatable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Age</th>
          <th>Start Date</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>clerk</td>
          <td>32</td>
          <td>2011/04/25</td>
          <td>32,000</td>
        </tr>
        <tr>
          <td>Tony</td>
          <td>clerk</td>
          <td>22</td>
          <td>2014/09/20</td>
          <td>32,000</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>clerk</td>
          <td>42</td>
          <td>2010/12/15</td>
          <td>32,000</td>
        </tr>
        <tr>
          <td>Simon</td>
          <td>clerk</td>
          <td>30</td>
          <td>2016/01/16</td>
          <td>32,000</td>
        </tr>
        <tr>
          <td>Phoebe</td>
          <td>clerk</td>
          <td>52</td>
          <td>2013/11/28</td>
          <td>32,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- table 2 -->