<app-nav-clerk></app-nav-clerk>
<div class="card-body container shadow-lg" style="margin-top: 4vh;">
  <h1 class="text-center"> Product list</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Store</th>
          <th>Price</th>
          <th>Stock status</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bread</td>
          <td>Food</td>
          <td>50</td>
          <td>In-Stock</td>
          <td>60 pcs</td>
        </tr>
        <tr>
          <td>Omo</td>
          <td>Household</td>
          <td>150</td>
          <td>Out-Of-stock</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Kiwi 100g</td>
          <td>Household</td>
          <td>100</td>
          <td>In-Stock</td>
          <td>10 pcs</td>
        </tr>
        <tr>
          <td>Techno phone</td>
          <td>Electronics</td>
          <td>20,000</td>
          <td>Out-Of-Stock</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>